In [12]:
# Instalación librerías
%pip install -r requirements.txt

Requirement already satisfied: pandas==2.2.2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from -r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: scikit-learn==1.5.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from -r requirements.txt (line 2)) (1.5.0)
Requirement already satisfied: numpy>=1.26.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from pandas==2.2.2->-r requirements.txt (line 1)) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from pandas==2.2.2->-r requirements.txt (line 1)) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from pandas==2.2.2->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from pandas==2.2.2->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from scikit-learn==1.5.0->-r requirements.txt (line 2)) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from scikit-learn==1.5.0->-r requirements.txt (line 2)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from scikit-learn==1.5.0->-r requirements.txt (line 2)) (3.5.0)
Requirement already satisfied: six>=1.5 in /Users/sebastiancb/anaconda3/envs/env-talentotech-bootcamp/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->-r requirements.txt (line 1)) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
#se importan las biblioteca
import pandas as pd

In [14]:
#puede armar un DataFrame
df = pd.DataFrame({
    'sexo':['hombre','hombre','hombre','hombre','mujer','mujer', 'mujer','mujer'],
    'altura':[6.0, 5.92,5.58, 5.92, 5, 5.5, 5.42, 5.75],
    'peso':[180,190,170,165,100,150,130,150],
    'talla_pie':[12,11,12,10,6,8,7,9]
})
df

     sexo  altura  peso  talla_pie
0  hombre    6.00   180         12
1  hombre    5.92   190         11
2  hombre    5.58   170         12
3  hombre    5.92   165         10
4   mujer    5.00   100          6
5   mujer    5.50   150          8
6   mujer    5.42   130          7
7   mujer    5.75   150          9

In [15]:
X = df[['altura','peso','talla_pie']].values
y = df['sexo'].values

In [16]:
X.shape

(8, 3)

In [17]:
y.shape

(8,)

In [18]:
#se va a averguar
df_test = pd.DataFrame({
    'sexo':['?'],
    'altura':[6.0],
    'peso':[130],
    'talla_pie':[8]
})
df_test

  sexo  altura  peso  talla_pie
0    ?     6.0   130          8

In [19]:
X_test = df_test[['altura','peso','talla_pie']].values

In [20]:
X_test.shape

(1, 3)

In [21]:
#se llama al modelo gaussiano
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
#se entrena
gnb.fit(X, y)
#se realiza la predicción con los datos
y_pred = gnb.predict(X_test).tolist()

In [22]:
print(y_pred)

['mujer']